@media (max-width: 576px) {
  .scroll-zone {
    height: calc(100vh - 320px);
    overflow: scroll;
  }
}
.w-100px {
  width: 100px !important;
}
.w-75px {
  width: 75px !important;
}

.scroll-zone {
  height: calc(100vh - 330px);
  overflow: scroll;
}
.run-status {
  height: 50px;
  text-align: center;
}
.overlay-zone {
  height: 300px;
}
.pointer {
  cursor: pointer;
}
.card-header {
  background-color: rgba(217, 218, 164, 0.445) !important ;
  color: rgb(82, 82, 82);
}

.nav-pills .router-link-exact-active,
.bg-dark-theme,
.btn-primary {
  background-color: rgb(36, 136, 123) !important;
}

.nav-pills .nav-link {
  font-size: large !important;
}

.xxcard {
  box-shadow: 0 0 8px rgba(131, 80, 80, 0.1) !important;
}

html,
body {
  background-color: #f8f9fa !important;
  height: 100%;
}
