@media (max-width: 576px) {
}
.w-100px {
  width: 100px !important;
}
.w-75px {
  width: 75px !important;
}

.pointer {
  cursor: pointer;
}
.card-header {
  background-color: rgba(217, 218, 164, 0.445) !important ;
  color: rgb(82, 82, 82);
}

.nav-pills .router-link-exact-active,
.bg-dark-theme,
.btn-primary {
  background-color: rgb(36, 136, 123) !important;
}

.nav-pills .nav-link {
  font-size: large !important;
}

.xcard {
  box-shadow: 0 0 8px rgba(33, 33, 33, 0.1);
}

html,
body {
  background-color: #f8f9fa;
}
